<link rel="stylesheet" href="/css/home.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js" integrity="sha512-rCZdHNB0AePry6kAnKAVFMRfWPmUXSo+/vlGtrOUvhsxD0Punm/xWbEh+8vppPIOzKB9xnk42yCRZ5MD/jvvjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="master">
<div class="conecteds">

</div>
<div class="main">
    <div class="me">

    </div>
    <div class="contMensage">

    </div>
    <div class="controles">
        <div class="input">
        <div class="cantInputL"></div>
        <input type="text" id="my-text" autocomplete="off">
        <div class="cantInputR"></div>
        </div>
        <button onclick="eviarmensagem()">enviar</button>
    </div>
</div>
</div>
<script>
    let socket = io(window.location.href);
    let me = {
        name:'undefined', 
        id:socket.id,
        color:'#bbb',
        digit:false
    }
    let allOnline = [];
    let allMensage = [];
    //recebendo valores de todas as pessoas online
    socket.on("atualizaConection",pesOnline=>{
        allOnline = pesOnline;
        console.log("atualizaConection");
         $('div.conecteds').html('<h1 style="color:#87BBFF">pessoas online</h1>')
        for(p of allOnline){
            console.log("adicionando pessoa")
            let digitando = ``;
            if(p.digit == true){
                digitando = `<p style="margin-top:40px;">Digitando</p>`
            }
            $('div.conecteds').append(`
            <div clas="" style="display:flex;align-items:center">
            <div class="circle" style="margin-right:10px;width:50px;height:50px;background:`+p.color+`""></div>
            <h1>`+p.name+`</h1>
            `+digitando+`
            </div>

            `);
        }

    })
    //recebendo todas as mensagens
    socket.on("carMensage", mensagens=>{
        allMensage = mensagens;
        $("div.contMensage").html('');
        for(m of allMensage){
            $("div.contMensage").append(`
            <div>
            <h3 style="color: `+m.color+`;
                       margin: 0;
                       border-bottom: 2px solid `+m.color+`;
                       width: 200px;">`+m.autor+`</h3>
            <p>`+m.text+`</p>
            </div>
            `)
        }
    })
    //adicionando meus dados
    $('div.me').html(`<input type="color" name="" id="my-color" value="`+me.color+`"><input type="text" id="my-name"value="`+me.name+`">`);
    $("#my-color").val(me.color)
    let addAtuaName = false;
     let valorAntigo = $("input#my-text").val();
    function draw(){
        $('main').html('')
        //atualizar nome
        if(($("#my-name").val()!=me.name||$("#my-color").val()!=me.color)&& addAtuaName == false){
            console.log("adicionando")
            addAtuaName = true;
            $('.main').append(`<div class="atuaName">
                <h2>atualizar dados</h2>
                <button onclick="atualizarName()"><ion-icon name="checkmark-outline"></ion-icon></button>
            </div>`)

        }
   
        //esta digitando
       if($("input#my-text").val() != valorAntigo){
        valorAntigo = $("input#my-text").val();
        let estarDigt = valorAntigo!='';
        me.digit = estarDigt;
        console.log("novo valor de texto",estarDigt)
        socket.emit("digitando",me);
       }
    }
    function eviarmensagem(){
        let my_text = $("input#my-text").val();
        console.log("eviar mensagem ",my_text)
        let mensagem = {
            autor:me.name,
            text:my_text,
            color:me.color
        }
        socket.emit("sendMensage",mensagem);
        $("input#my-text").val('');
    }
    function atualizarName(){
           addAtuaName = false;
           console.log("atualizar nome")
           document.querySelector('.atuaName').remove(); 
           me.name = $('#my-name').val();
           me.color = $('#my-color').val();
           socket.emit("atuaName",me)
    }
</script>